/* YUI 3.8.1 (build 5795) Copyright 2013 Yahoo! Inc. */
/*html {
	color: #000;
	background: #FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: 400;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input,textarea,select {
	*font-size: 100%;
}

legend {
	color: #000;
}

#yui3-css-stamp.cssreset {
	display: none;
}

html {
	height: 100%;
	overflow-y: scroll;
}*/

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.1) inset;
	min-height: 100%;
	padding: 0;
	background: url("../img/bg2.jpg") 50% 50% fixed no-repeat;
	background-size: cover;
	-webkit-background-size: 100% 100%;
	-webkit-animation: 8s bg forwards ease;
}

@-webkit-keyframes bg {
	0% {
		background-size: 120% 120%;
	}

	100% {
		background-size: 100% 100%;
	}
}

@font-face {
	font-family: 'Romanesco';
	font-style: normal;
	font-weight: 400;
	src: local(Romanesco),local(Romanesco-Regular),url(http://themes.googleusercontent.com/static/fonts/romanesco/v1/ulV2bu0ivcWDuAzM7oh4XT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: local(Cuprum),local(Cuprum-Regular),url(http://themes.googleusercontent.com/static/fonts/cuprum/v4/sp1_LTSOMWWV0K5VTuZzvQ.woff) format("woff");
}

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	box-shadow: 0 0 3px 2px rgba(0,0,0,0.3),0 -30px 30px -15px #00329B inset,0 1px 0 rgba(255,255,255,0.3) inset;
	background: #08C;
	background-repeat: repeat-x;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-radius: 6px;
	padding: 14px 24px;
	-webkit-transition: .15s;
	transition: .15s;
}

.btn:hover {
	background: #0068BA;
}

.btn:active {
	box-shadow: 0 0 0 0 rgba(0,0,0,0.3),0 -30px 30px -15px #00329B inset,0 0 6px #00243F inset;
}

#wrap {
    overflow: hidden;
    padding: 7%;
    
}

#pbOverlay.show ~ #wrap {
	-webkit-filter: blur(2px) grayscale(.4);
}

.main {
	float: left;
	font-size: 1.1em;
	width: 36%;
	color: #FFF;
	text-shadow: 2px 2px 4px rgba(0,0,0,.5);
	font-family: 'Cuprum';
}

.main h1 {
	line-height: .75;
	font-size: 6.2em;
	margin: 0;
	text-indent: 1%;
	font-family: 'Romanesco';
}

.main small {
	color: inherit;
}

.main h2 {
	font-size: 1.7em;
	color: #FF1668;
	line-height: 1.2;
	margin: 0;
	font-family: 'Romanesco';
}

.main p {
	margin: 15px 0;
}

.main ul li {
	padding-left: 25px;
	position: relative;
	margin: .2em 0;
}

.main ul li:before {
	content: '●';
	color: #FFF;
	position: absolute;
	left: 0;
	top: -2px;
	opacity: .5;
	transition: .3s;
}

.main ul li:hover:before {
	opacity: 1;
	text-shadow: 0 0 4px #FFF;
	transition: .1s;
}

.main footer {
	margin-top: 50px;
	text-shadow: none;
	font-size: .9em;
}

.main footer .copy {
	font-family: Tahoma;
	font-size: 1.2em;
	font-weight: 700;
	margin: 0 3px;
	opacity: .35;
}

.main footer a {
	margin-left: 10px;
	color: #D8FF16;
	border-radius: 4px;
	position: relative;
	-webkit-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}

.main footer a:hover {
	text-decoration: none;
	color: #FFF;
/* box-shadow:0 0 0 5px rgba(0,0,0,0.2); background:rgba(0,0,0,0.2); */
}

.main footer a::after {
	content: '\203A';
	font-size: 2em;
	line-height: .8;
	margin-left: -10px;
	display: inline-block;
	vertical-align: top;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: .15s ease-out;
	-ms-transition: .15s;
	transition: .15s ease-out;
}

.main footer a:hover::after {
	opacity: 1;
	margin-left: 5px;
}

#gallery {
    /* float: right; */
    width: 80%;
    margin: 0 auto;
}

#gallery li {
	list-style: none;
	perspective: 100px;
	-webkit-perspective: 100px;
	margin: 1px;
	float: right;
	position: relative;
	transition: .1s;
	-webkit-transition: .1s;
}

#gallery li.video::before {
	content: '\25BA';
	color: #FFF;
	font-size: 20px;
	height: 20px;
	width: 20px;
	line-height: .9;
	position: absolute;
	bottom: 3px;
	left: 4px;
	z-index: 1;
	background: rgba(0,0,0,0.4);
	box-shadow: 0 0 0 3px rgba(0,0,0,0.4);
	border-radius: 0 3px 0 0;
	pointer-events: none;
	opacity: 0;
	transition: .5s .2s;
}

#gallery li.loaded.video::before {
	opacity: 1;
}

#gallery a {
	display: block;
	width: 75px;
	height: 68px;
	vertical-align: bottom;
	overflow: hidden;
	background: rgba(0,0,0,0.1);
	transition: .4s ease-out;
	-webkit-transition: .4s ease-out;
	-webkit-transform: rotateX(90deg) translate(-50px,-50%);
	transform: rotateX(90deg) translate(-50px,-50%);
}

#gallery a:active,#gallery a:focus {
	outline: none;
}

#gallery a img {
	min-height: 100%;
	width: 100%;
	transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
}

#gallery .loaded a {
	-webkit-transform: rotateX(0deg) translate(0,0);
	transform: rotateX(0deg) translate(0,0);
}

#gallery li.loaded:hover {
	z-index: 2;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}

#gallery li.loaded a:hover {
	box-shadow: 0 0 0 2px #FFF,0 0 20px 5px #000;
	transition: .1s;
	-webkit-transition: .1s;
}

#gallery li.loaded:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

#gallery li.loaded.video:hover::before {
	opacity: 0;
}

/*------- media queries -----------*/
@media all and (max-width:700px) {
	body {
		background-position: 0 0;
		background-attachment: inherit;
		box-shadow: none;
	}

	.main,#gallery {
		float: none;
		width: auto;
		font-size: .9em;
	}

	.main h1 {
		font-size: 5.2em;
	}

	.main h2 {
		font-size: 1.5em;
	}

	.btn {
		position: absolute;
		right: 10px;
		top: 26px;
	}

	#gallery li {
		margin: 0;
	}

	#gallery a {
		width: 55px;
		height: 50px;
	}

	#gallery li.loaded:hover img,#gallery li.loaded:hover {
		transform: none;
		-webkit-transform: none;
	}

	.main footer {
		margin: 10px 0;
	}
}